<div>
    <form [formGroup]="userFormGroup" (submit)="send()">

        <mat-form-field appearance="outline">
            <mat-label>Name:</mat-label>
            <input type="text" matInput formControlName="nameControl">
            <mat-error *ngIf="getFirstErrorMessage('nameControl')">
                {{ getFirstErrorMessage('nameControl') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email:</mat-label>
            <input type="email" matInput formControlName="emailControl">
            <mat-error *ngIf="getFirstErrorMessage('emailControl')">
                {{ getFirstErrorMessage('emailControl') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password:</mat-label>
            <input type="password" matInput formControlName="passwordControl">
            <mat-error *ngIf="getFirstErrorMessage('passwordControl')">
                {{ getFirstErrorMessage('passwordControl') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Role:</mat-label>
            <mat-select formControlName="roleControl">
                <mat-option [value]="1">Student</mat-option>
                <mat-option [value]="2">Professor</mat-option>
            </mat-select>
            <mat-error *ngIf="getFirstErrorMessage('roleControl')">
                {{ getFirstErrorMessage('roleControl') }}
            </mat-error>
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="userFormGroup.invalid">Send</button>
            <button mat-raised-button color="secondary" type="reset">Clear</button>
        </div>

    </form>
</div>
