<div class="progress-container">
    <h2>Your Enrolled Courses and Progress</h2>

    <div *ngIf="courses().length > 0; else noCourses">
        <div *ngFor="let course of courses(); let i = index" class="course-card">
            <h3>{{ course.title }}</h3>

            <button class="lesson-btn" 
                [routerLink]="['/course-details/', course.id , 'lessons']" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }">
                View Lessons
            </button>

            <div class="progress-bar-container">
                <div class="progress-bar">
                    <div class="progress-bar-inner" 
                         [style.width.%]="getCourseCompletionPercentage(course.id)">
                    </div>
                </div>
                <div class="progress-text">
                    {{ getCourseCompletionPercentage(course.id) }}% Completed
                </div>
                <div>
                    <button class="delete-btn" (click)="deleteEnrollment(course.id)"> Deregistration </button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noCourses>
        <p>You are not enrolled in any courses yet.</p>
    </ng-template>
</div>
