<div>
    <form [formGroup]="courseForm" (submit)="send()">
        
        <!-- Title Field -->
        <mat-form-field appearance="outline">
            <mat-label>Title: </mat-label>
            <input matInput formControlName="titleControl" type="text">
            <mat-error *ngIf="courseForm.controls['titleControl'].hasError('required') && courseForm.controls['titleControl'].touched">
                Title is required.
            </mat-error>
            <mat-error *ngIf="courseForm.controls['titleControl'].hasError('minlength') && courseForm.controls['titleControl'].touched">
                Title can't be less than 2 characters.
            </mat-error>
            <mat-error *ngIf="courseForm.controls['titleControl'].hasError('maxlength') && courseForm.controls['titleControl'].touched">
                Title can't exceed 100 characters.
            </mat-error>
        </mat-form-field>

        <!-- Description Field -->
        <mat-form-field appearance="outline">
            <mat-label>Description: </mat-label>
            <textarea matInput formControlName="descriptionControl"></textarea>
            <mat-error *ngIf="courseForm.controls['descriptionControl'].hasError('required') && courseForm.controls['descriptionControl'].touched">
                Description is required.
            </mat-error>
            <mat-error *ngIf="courseForm.controls['descriptionControl'].hasError('minlength') && courseForm.controls['descriptionControl'].touched">
                Description can't be less than 10 characters.
            </mat-error>
            <mat-error *ngIf="courseForm.controls['descriptionControl'].hasError('maxlength') && courseForm.controls['descriptionControl'].touched">
                Description can't exceed 1000 characters.
            </mat-error>
        </mat-form-field>
        
        <!-- Buttons -->
        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="courseForm.invalid">Send</button>
            <button mat-raised-button color="secondary" type="reset">Clear</button>
        </div>
    </form>
</div>
